In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('FAOSTAT_Data.csv')

In [3]:
df1.head()

,Domain,Area,Element,Item,Year,Unit,Value
0,Emissions totals,Afghanistan,Emissions (N2O),Crop Residues,1991,kt,0.7906
1,Emissions totals,Afghanistan,Emissions (N2O),Crop Residues,1992,kt,0.7416
2,Emissions totals,Afghanistan,Emissions (N2O),Crop Residues,1993,kt,0.8710
3,Emissions totals,Afghanistan,Emissions (N2O),Crop Residues,1994,kt,0.9134
4,Emissions totals,Afghanistan,Emissions (N2O),Crop Residues,1995,kt,0.9201

In [4]:
df1 = df1.rename(columns={
    'Area': 'Country',
})

df1 = df1.drop(columns=['Domain','Unit'])

In [5]:
df1.head()

       Country          Element           Item  Year   Value
0  Afghanistan  Emissions (N2O)  Crop Residues  1991  0.7906
1  Afghanistan  Emissions (N2O)  Crop Residues  1992  0.7416
2  Afghanistan  Emissions (N2O)  Crop Residues  1993  0.8710
3  Afghanistan  Emissions (N2O)  Crop Residues  1994  0.9134
4  Afghanistan  Emissions (N2O)  Crop Residues  1995  0.9201

In [6]:
unique_countries = df1['Element'].unique()
print(unique_countries)

['Emissions (N2O)' 'Emissions (CH4)' 'Emissions (CO2)']

In [7]:
unique_Item = df1['Item'].unique()
print(unique_Item)

['Crop Residues' 'Rice Cultivation' 'Burning - Crop residues'
 'Enteric Fermentation' 'Manure Management' 'Manure left on Pasture'
 'Manure applied to Soils' 'Synthetic Fertilizers'
 'Drained organic soils (CO2)' 'Drained organic soils (N2O)'
 'On-farm energy use' 'Forestland' 'Net Forest conversion' 'Savanna fires'
 'Fires in organic soils' 'Forest fires' 'Fires in humid tropical forests'
 'Agrifood Systems Waste Disposal' 'Food Retail'
 'Food Household Consumption' 'Food Transport' 'Energy' 'IPPU' 'Waste'
 'Pesticides Manufacturing' 'Food Processing' 'Food Packaging']

In [8]:
df1.head()

       Country          Element           Item  Year   Value
0  Afghanistan  Emissions (N2O)  Crop Residues  1991  0.7906
1  Afghanistan  Emissions (N2O)  Crop Residues  1992  0.7416
2  Afghanistan  Emissions (N2O)  Crop Residues  1993  0.8710
3  Afghanistan  Emissions (N2O)  Crop Residues  1994  0.9134
4  Afghanistan  Emissions (N2O)  Crop Residues  1995  0.9201

In [9]:
pivot_df1 = df1.pivot_table(index=['Country', 'Year'], columns=['Item', 'Element'], values='Value')
pivot_df1.columns = [f'{elem}_{item}' for item, elem in pivot_df1.columns]
pivot_df1.reset_index(inplace=True)

In [10]:
pivot_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1573 entries, 0 to 1572
Data columns (total 57 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Country                                          1573 non-null   object
 1   Year                                             1573 non-null   int64
 2   Emissions (CH4)_Agrifood Systems Waste Disposal  1573 non-null   float64
 3   Emissions (CO2)_Agrifood Systems Waste Disposal  1511 non-null   float64
 4   Emissions (N2O)_Agrifood Systems Waste Disposal  1573 non-null   float64
 5   Emissions (CH4)_Burning - Crop residues          1511 non-null   float64
 6   Emissions (N2O)_Burning - Crop residues          1511 non-null   float64
 7   Emissions (N2O)_Crop Residues                    1542 non-null   float64
 8   Emissions (CO2)_Drained organic soils (CO2)      1573 non-null   float64
 9   Emissions (N2O)_Drained organic soils (N2O)      1573 non-null   float64
 10  Emissions (CH4)_Energy                           1542 non-null   float64
 11  Emissions (CO2)_Energy                           1542 non-null   float64
 12  Emissions (N2O)_Energy                           1542 non-null   float64
 13  Emissions (CH4)_Enteric Fermentation             1511 non-null   float64
 14  Emissions (CH4)_Fires in humid tropical forests  1573 non-null   float64
 15  Emissions (N2O)_Fires in humid tropical forests  1573 non-null   float64
 16  Emissions (CH4)_Fires in organic soils           1573 non-null   float64
 17  Emissions (CO2)_Fires in organic soils           1573 non-null   float64
 18  Emissions (CH4)_Food Household Consumption       1573 non-null   float64
 19  Emissions (CO2)_Food Household Consumption       1573 non-null   float64
 20  Emissions (N2O)_Food Household Consumption       1573 non-null   float64
 21  Emissions (CH4)_Food Packaging                   1418 non-null   float64
 22  Emissions (CO2)_Food Packaging                   1418 non-null   float64
 23  Emissions (N2O)_Food Packaging                   1418 non-null   float64
 24  Emissions (CH4)_Food Processing                  1387 non-null   float64
 25  Emissions (CO2)_Food Processing                  1387 non-null   float64
 26  Emissions (N2O)_Food Processing                  1387 non-null   float64
 27  Emissions (CH4)_Food Retail                      1573 non-null   float64
 28  Emissions (CO2)_Food Retail                      1573 non-null   float64
 29  Emissions (N2O)_Food Retail                      1573 non-null   float64
 30  Emissions (CH4)_Food Transport                   1573 non-null   float64
 31  Emissions (CO2)_Food Transport                   1573 non-null   float64
 32  Emissions (N2O)_Food Transport                   1573 non-null   float64
 33  Emissions (CH4)_Forest fires                     1573 non-null   float64
 34  Emissions (N2O)_Forest fires                     1573 non-null   float64
 35  Emissions (CO2)_Forestland                       1418 non-null   float64
 36  Emissions (CH4)_IPPU                             1079 non-null   float64
 37  Emissions (CO2)_IPPU                             1542 non-null   float64
 38  Emissions (N2O)_IPPU                             1542 non-null   float64
 39  Emissions (CH4)_Manure Management                1542 non-null   float64
 40  Emissions (N2O)_Manure Management                1542 non-null   float64
 41  Emissions (N2O)_Manure applied to Soils          1542 non-null   float64
 42  Emissions (N2O)_Manure left on Pasture           1542 non-null   float64
 43  Emissions (CO2)_Net Forest conversion            1418 non-null   float64
 44  Emissions (CH4)_On-farm energy use               1562 non-null   float64
 45  Emissions (CO2)_On-farm energy use               1562 non-null   float64
 46  Emissions (N2O)_On-farm energy use               1562 non-null   float64
 47  Emissions (CH4)_Pesticides Manufacturing         1419 non-null   float64
 48  Emissions (CO2)_Pesticides Manufacturing         1419 non-null   float64
 49  Emissions (N2O)_Pesticides Manufacturing         1419 non-null   float64
 50  Emissions (CH4)_Rice Cultivation                 1047 non-null   float64
 51  Emissions (CH4)_Savanna fires                    1573 non-null   float64
 52  Emissions (N2O)_Savanna fires                    1573 non-null   float64
 53  Emissions (N2O)_Synthetic Fertilizers            1474 non-null   float64
 54  Emissions (CH4)_Waste                            1542 non-null   float64
 55  Emissions (CO2)_Waste                            988 non-null    float64
 56  Emissions (N2O)_Waste                            1542 non-null   float64
dtypes: float64(55), int64(1), object(1)
memory usage: 700.6+ KB

In [11]:
pivot_df1.head(50)

,Country,Year,Emissions (CH4)_Agrifood Systems Waste Disposal,Emissions (CO2)_Agrifood Systems Waste Disposal,Emissions (N2O)_Agrifood Systems Waste Disposal,Emissions (CH4)_Burning - Crop residues,Emissions (N2O)_Burning - Crop residues,Emissions (N2O)_Crop Residues,Emissions (CO2)_Drained organic soils (CO2),Emissions (N2O)_Drained organic soils (N2O),...,Emissions (CH4)_Pesticides Manufacturing,Emissions (CO2)_Pesticides Manufacturing,Emissions (N2O)_Pesticides Manufacturing,Emissions (CH4)_Rice Cultivation,Emissions (CH4)_Savanna fires,Emissions (N2O)_Savanna fires,Emissions (N2O)_Synthetic Fertilizers,Emissions (CH4)_Waste,Emissions (CO2)_Waste,Emissions (N2O)_Waste
0,Afghanistan,1991,28.7648,0.0000,0.3599,2.7606,0.0716,0.7906,0.0,0.0,...,NaN,NaN,NaN,24.2200,0.2639,0.0241,0.8912,62.7000,3.1500,0.3680
1,Afghanistan,1992,29.9255,0.0000,0.3595,2.5314,0.0656,0.7416,0.0,0.0,...,NaN,NaN,NaN,24.5000,0.2639,0.0241,0.8100,67.4000,3.2800,0.3830
2,Afghanistan,1993,31.3371,0.0000,0.3956,3.0714,0.0796,0.8710,0.0,0.0,...,NaN,NaN,NaN,24.5000,0.2639,0.0241,0.8329,72.6000,3.4200,0.4120
3,Afghanistan,1994,32.7076,0.0000,0.4090,3.2408,0.0840,0.9134,0.0,0.0,...,NaN,NaN,NaN,25.2000,0.2639,0.0241,NaN,77.8000,3.5600,0.4330
4,Afghanistan,1995,33.8030,0.0000,0.4172,3.2016,0.0830,0.9201,0.0,0.0,...,NaN,NaN,NaN,23.8000,0.2639,0.0241,NaN,82.2000,3.7000,0.4660
5,Afghanistan,1996,34.8632,0.0000,0.4444,3.0714,0.0796,0.9398,0.0,0.0,...,NaN,NaN,NaN,24.5000,0.7459,0.0681,0.1041,85.7000,3.7900,0.4960
6,Afghanistan,1997,35.3527,0.0000,0.4715,3.1047,0.0805,1.0426,0.0,0.0,...,NaN,NaN,NaN,25.2000,0.5927,0.0541,0.1041,88.4000,3.8900,0.5190
7,Afghanistan,1998,35.7056,0.0000,0.4862,3.1717,0.0822,1.0847,0.0,0.0,...,NaN,NaN,NaN,25.2000,1.2289,0.1122,0.1249,90.9000,3.9800,0.5140
8,Afghanistan,1999,36.0252,0.0000,0.4833,2.8326,0.0734,0.9340,0.0,0.0,...,NaN,NaN,NaN,19.6000,0.8845,0.0808,0.1041,93.6000,3.9100,0.5090
9,Afghanistan,2000,36.4322,0.0000,0.4685,2.6471,0.0686,0.6370,0.0,0.0,...,NaN,NaN,NaN,18.2000,0.4365,0.0398,0.1041,96.9000,4.1900,0.5210
10,Afghanistan,2001,37.1432,0.0000,0.4609,2.3205,0.0602,0.6452,0.0,0.0,...,NaN,NaN,NaN,16.9400,0.0093,0.0009,0.3831,101.0000,4.2600,0.5440
11,Afghanistan,2002,44.2815,34.4786,0.5068,2.3553,0.0611,1.0045,0.0,0.0,...,NaN,NaN,NaN,18.9000,0.2306,0.0211,0.5106,106.0000,4.3300,0.5700
12,Afghanistan,2003,50.6760,34.6461,0.5357,3.4017,0.0882,1.2235,0.0,0.0,...,NaN,NaN,NaN,20.3000,0.8799,0.0803,0.4249,112.0000,4.4000,0.6070
13,Afghanistan,2004,51.4813,34.8741,0.4749,3.0089,0.0780,1.0075,0.0,0.0,...,NaN,NaN,NaN,27.3000,0.2061,0.0188,0.4651,117.0000,4.5600,0.6580
14,Afghanistan,2005,57.2164,35.1425,0.4773,3.4752,0.0901,1.4481,0.0,0.0,...,NaN,NaN,NaN,22.4000,0.0974,0.0089,0.4261,122.0000,4.6300,0.6840
15,Afghanistan,2006,62.3706,35.3229,0.4899,3.2535,0.0844,1.2589,0.0,0.0,...,NaN,NaN,NaN,22.4000,0.1025,0.0094,0.4261,126.0000,4.9600,0.7010
16,Afghanistan,2007,67.3707,35.8454,0.5254,3.2921,0.0854,1.5222,0.0,0.0,...,NaN,NaN,NaN,23.8000,0.0499,0.0046,0.3410,130.0000,5.3200,0.7260
17,Afghanistan,2008,72.1700,35.9022,0.5471,2.9674,0.0769,1.0865,0.0,0.0,...,NaN,NaN,NaN,26.6000,0.4745,0.0433,0.3005,133.0000,5.6700,0.7580
18,Afghanistan,2009,76.7986,36.2225,0.5685,3.4614,0.0897,1.7051,0.0,0.0,...,NaN,NaN,NaN,28.0000,0.0425,0.0039,0.2947,139.0000,6.0400,0.7960
19,Afghanistan,2010,81.4655,36.6037,0.5882,3.3507,0.0869,1.5609,0.0,0.0,...,NaN,NaN,NaN,29.1200,0.4500,0.0411,0.2692,143.0000,6.4100,0.8290
20,Afghanistan,2011,86.0901,36.7843,0.6149,3.2219,0.0835,1.2643,0.0,0.0,...,NaN,NaN,NaN,29.4000,0.0321,0.0029,0.4783,148.0000,6.5000,0.8660
21,Afghanistan,2012,90.6450,36.9582,0.6357,3.4035,0.0882,1.6815,0.0,0.0,...,NaN,NaN,NaN,28.7000,0.0528,0.0048,0.3553,154.0000,6.5600,0.8990
22,Afghanistan,2013,95.0568,36.9768,0.6503,3.4506,0.0895,1.7173,0.0,0.0,...,NaN,NaN,NaN,28.7000,0.0546,0.0050,0.7267,159.0000,6.5900,0.9290
23,Afghanistan,2014,98.8929,37.0037,0.6441,3.5413,0.0918,1.7865,0.0,0.0,...,NaN,NaN,NaN,30.8000,0.0506,0.0046,1.5381,165.0000,6.5800,0.9480
24,Afghanistan,2015,102.9258,36.8965,0.6466,2.9452,0.0764,1.5220,0.0,0.0,...,NaN,NaN,NaN,22.9600,0.0142,0.0013,1.9263,170.0000,6.5300,0.9540
25,Afghanistan,2016,106.6721,36.8113,0.6639,3.0734,0.0797,1.4627,0.0,0.0,...,NaN,NaN,NaN,16.6600,0.0293,0.0027,2.0128,175.0000,6.2200,0.9550
26,Afghanistan,2017,110.2226,36.8652,0.6751,2.7997,0.0726,1.3003,0.0,0.0,...,NaN,NaN,NaN,15.3233,0.0079,0.0007,2.9312,180.0000,6.2500,0.9690
27,Afghanistan,2018,113.5843,36.8059,0.6913,2.1390,0.0555,1.1008,0.0,0.0,...,NaN,NaN,NaN,16.4555,0.0038,0.0004,2.5113,183.0000,7.0987,0.9920
28,Afghanistan,2019,116.8072,36.8690,0.7074,2.9693,0.0770,1.4916,0.0,0.0,...,NaN,NaN,NaN,17.8542,0.1392,0.0127,1.2429,189.0000,7.2592,1.0500
29,Afghanistan,2020,119.9452,36.9745,0.7237,3.4826,0.0903,1.6133,0.0,0.0,...,NaN,NaN,NaN,20.6577,0.2291,0.0209,0.8983,194.0000,7.4197,1.0700
30,Afghanistan,2021,122.7153,0.0000,0.7389,2.4581,0.0637,1.2477,0.0,0.0,...,NaN,NaN,NaN,21.3498,0.0720,0.0066,0.6942,198.5312,7.5802,1.0873
31,Armenia,1992,8.0481,3.2123,0.0816,0.0742,0.0019,0.0977,0.0,0.0,...,0.0000,0.2276,0.0,NaN,0.0825,0.0075,0.3123,20.4000,NaN,0.1350
32,Armenia,1993,8.6933,3.2035,0.0745,0.1090,0.0028,0.1043,0.0,0.0,...,0.0000,0.1417,0.0,NaN,0.0825,0.0075,0.3123,19.2000,NaN,0.1300
33,Armenia,1994,9.2581,3.2174,0.0763,0.0966,0.0025,0.0853,0.0,0.0,...,0.0000,0.3397,0.0,NaN,0.0825,0.0075,0.1458,19.0000,NaN,0.1330
34,Armenia,1995,9.7747,3.2342,0.0750,0.0714,0.0019,0.0882,0.0,0.0,...,0.0000,0.3243,0.0,NaN,0.0825,0.0075,0.1458,18.9000,NaN,0.1300
35,Armenia,1996,9.9758,3.2471,0.0712,0.0976,0.0025,0.1052,0.0,0.0,...,0.0000,0.5366,0.0,NaN,0.0307,0.0028,0.1666,19.0000,NaN,0.1330
36,Armenia,1997,10.4064,3.2511,0.0715,0.1223,0.0032,0.0926,0.0,0.0,...,0.0000,0.6961,0.0,NaN,0.0210,0.0019,0.1666,18.9000,NaN,0.1310
37,Armenia,1998,10.6501,3.2732,0.0709,0.1337,0.0035,0.1088,0.0,0.0,...,0.0000,0.8103,0.0,NaN,0.0436,0.0040,0.2003,19.1000,NaN,0.1300
38,Armenia,1999,11.2643,3.2693,0.0745,0.1266,0.0033,0.0990,0.0,0.0,...,0.0000,0.8858,0.0,NaN,0.0204,0.0019,0.1282,19.1000,NaN,0.1290
39,Armenia,2000,11.6230,3.2747,0.0733,0.1220,0.0032,0.0808,0.0,0.0,...,0.0000,1.0177,0.0,NaN,0.0335,0.0031,0.1458,19.2000,NaN,0.1270
40,Armenia,2001,11.7965,3.2904,0.0708,0.1243,0.0032,0.1155,0.0,0.0,...,0.0000,0.7631,0.0,NaN,0.0498,0.0045,0.1041,19.4000,NaN,0.1260
41,Armenia,2002,12.2054,3.3080,0.0712,0.1375,0.0036,0.1246,0.0,0.0,...,0.0000,1.1011,0.0,NaN,0.0043,0.0004,0.3269,19.8000,NaN,0.1250
42,Armenia,2003,12.9784,3.3335,0.0759,0.1451,0.0038,0.1050,0.0,0.0,...,0.0000,0.6894,0.0,NaN,0.0049,0.0004,0.2176,20.3000,NaN,0.1280
43,Armenia,2004,13.3318,3.3707,0.0812,0.1429,0.0037,0.1386,0.0,0.0,...,0.0000,1.2319,0.0,NaN,0.0875,0.0080,0.2746,20.6000,NaN,0.1330
44,Armenia,2005,13.4358,3.4189,0.0825,0.1463,0.0038,0.1256,0.0,0.0,...,0.0001,3.0770,0.0,NaN,0.0780,0.0071,0.2134,21.0000,NaN,0.1390
45,Armenia,2006,13.6181,3.4594,0.0837,0.1150,0.0030,0.0821,0.0,0.0,...,0.0001,2.2502,0.0,NaN,0.1417,0.0129,1.2056,21.4000,NaN,0.1440
46,Armenia,2007,14.0298,3.5155,0.0840,0.1158,0.0030,0.1333,0.0,0.0,...,0.0001,3.2318,0.0,NaN,0.0055,0.0005,0.5582,15.6000,NaN,0.1480
47,Armenia,2008,14.4063,3.5518,0.0877,0.1109,0.0029,0.1267,0.0,0.0,...,0.0001,3.1623,0.0,NaN,0.0746,0.0068,0.5066,15.9000,NaN,0.1520
48,Armenia,2009,14.7735,3.5059,0.0848,0.1027,0.0027,0.1163,0.0,0.0,...,0.0001,2.9909,0.0,NaN,0.0006,0.0001,0.8233,15.4000,NaN,0.1540
49,Armenia,2010,16.1748,3.5164,0.0843,0.1009,0.0026,0.1029,0.0,0.0,...,0.0001,3.5760,0.0,NaN,0.5961,0.0544,0.6161,15.3000,NaN,0.1540

In [12]:
pivot_df1.columns

Index(['Country', 'Year', 'Emissions (CH4)_Agrifood Systems Waste Disposal',
       'Emissions (CO2)_Agrifood Systems Waste Disposal',
       'Emissions (N2O)_Agrifood Systems Waste Disposal',
       'Emissions (CH4)_Burning - Crop residues',
       'Emissions (N2O)_Burning - Crop residues',
       'Emissions (N2O)_Crop Residues',
       'Emissions (CO2)_Drained organic soils (CO2)',
       'Emissions (N2O)_Drained organic soils (N2O)', 'Emissions (CH4)_Energy',
       'Emissions (CO2)_Energy', 'Emissions (N2O)_Energy',
       'Emissions (CH4)_Enteric Fermentation',
       'Emissions (CH4)_Fires in humid tropical forests',
       'Emissions (N2O)_Fires in humid tropical forests',
       'Emissions (CH4)_Fires in organic soils',
       'Emissions (CO2)_Fires in organic soils',
       'Emissions (CH4)_Food Household Consumption',
       'Emissions (CO2)_Food Household Consumption',
       'Emissions (N2O)_Food Household Consumption',
       'Emissions (CH4)_Food Packaging', 'Emissions (CO2)_Food Packaging',
       'Emissions (N2O)_Food Packaging', 'Emissions (CH4)_Food Processing',
       'Emissions (CO2)_Food Processing', 'Emissions (N2O)_Food Processing',
       'Emissions (CH4)_Food Retail', 'Emissions (CO2)_Food Retail',
       'Emissions (N2O)_Food Retail', 'Emissions (CH4)_Food Transport',
       'Emissions (CO2)_Food Transport', 'Emissions (N2O)_Food Transport',
       'Emissions (CH4)_Forest fires', 'Emissions (N2O)_Forest fires',
       'Emissions (CO2)_Forestland', 'Emissions (CH4)_IPPU',
       'Emissions (CO2)_IPPU', 'Emissions (N2O)_IPPU',
       'Emissions (CH4)_Manure Management',
       'Emissions (N2O)_Manure Management',
       'Emissions (N2O)_Manure applied to Soils',
       'Emissions (N2O)_Manure left on Pasture',
       'Emissions (CO2)_Net Forest conversion',
       'Emissions (CH4)_On-farm energy use',
       'Emissions (CO2)_On-farm energy use',
       'Emissions (N2O)_On-farm energy use',
       'Emissions (CH4)_Pesticides Manufacturing',
       'Emissions (CO2)_Pesticides Manufacturing',
       'Emissions (N2O)_Pesticides Manufacturing',
       'Emissions (CH4)_Rice Cultivation', 'Emissions (CH4)_Savanna fires',
       'Emissions (N2O)_Savanna fires',
       'Emissions (N2O)_Synthetic Fertilizers', 'Emissions (CH4)_Waste',
       'Emissions (CO2)_Waste', 'Emissions (N2O)_Waste'],
      dtype='object')

In [13]:
df2=pd.read_csv('Rice_Production_Data.csv')

In [14]:
df2.head()

                  Domain         Area     Element  Item  Year Unit     Value
0  Emissions intensities  Afghanistan  Production  Rice  1991    t  335000.0
1  Emissions intensities  Afghanistan  Production  Rice  1992    t  300000.0
2  Emissions intensities  Afghanistan  Production  Rice  1993    t  300000.0
3  Emissions intensities  Afghanistan  Production  Rice  1994    t  342000.0
4  Emissions intensities  Afghanistan  Production  Rice  1995    t  390000.0

In [15]:
df2 = df2.rename(columns={
    'Area': 'Country',
    'Value': 'Rice Production(Tonne)',
})

df2 = df2.drop(columns=['Domain', 'Element','Item','Unit'])

In [16]:
df2.head()

       Country  Year  Rice Production(Tonne)
0  Afghanistan  1991                335000.0
1  Afghanistan  1992                300000.0
2  Afghanistan  1993                300000.0
3  Afghanistan  1994                342000.0
4  Afghanistan  1995                390000.0

In [17]:
df2.columns

Index(['Country', 'Year', 'Rice Production(Tonne)'], dtype='object')

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991 entries, 0 to 990
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 991 non-null    object
 1   Year                    991 non-null    int64
 2   Rice Production(Tonne)  991 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.4+ KB

In [19]:
merged_df = pd.merge(pivot_df1, df2, on=['Country', 'Year'], how='inner')
merged_df.head()

,Country,Year,Emissions (CH4)_Agrifood Systems Waste Disposal,Emissions (CO2)_Agrifood Systems Waste Disposal,Emissions (N2O)_Agrifood Systems Waste Disposal,Emissions (CH4)_Burning - Crop residues,Emissions (N2O)_Burning - Crop residues,Emissions (N2O)_Crop Residues,Emissions (CO2)_Drained organic soils (CO2),Emissions (N2O)_Drained organic soils (N2O),...,Emissions (CO2)_Pesticides Manufacturing,Emissions (N2O)_Pesticides Manufacturing,Emissions (CH4)_Rice Cultivation,Emissions (CH4)_Savanna fires,Emissions (N2O)_Savanna fires,Emissions (N2O)_Synthetic Fertilizers,Emissions (CH4)_Waste,Emissions (CO2)_Waste,Emissions (N2O)_Waste,Rice Production(Tonne)
0,Afghanistan,1991,28.7648,0.0,0.3599,2.7606,0.0716,0.7906,0.0,0.0,...,NaN,NaN,24.22,0.2639,0.0241,0.8912,62.7,3.15,0.368,335000.0
1,Afghanistan,1992,29.9255,0.0,0.3595,2.5314,0.0656,0.7416,0.0,0.0,...,NaN,NaN,24.50,0.2639,0.0241,0.8100,67.4,3.28,0.383,300000.0
2,Afghanistan,1993,31.3371,0.0,0.3956,3.0714,0.0796,0.8710,0.0,0.0,...,NaN,NaN,24.50,0.2639,0.0241,0.8329,72.6,3.42,0.412,300000.0
3,Afghanistan,1994,32.7076,0.0,0.4090,3.2408,0.0840,0.9134,0.0,0.0,...,NaN,NaN,25.20,0.2639,0.0241,NaN,77.8,3.56,0.433,342000.0
4,Afghanistan,1995,33.8030,0.0,0.4172,3.2016,0.0830,0.9201,0.0,0.0,...,NaN,NaN,23.80,0.2639,0.0241,NaN,82.2,3.70,0.466,390000.0

In [20]:
unique_Country = merged_df['Country'].unique()
print(unique_Country)

['Afghanistan' 'Azerbaijan' 'Bangladesh' 'Bhutan' 'Brunei Darussalam'
 'Cambodia' 'China, Hong Kong SAR' 'China, Taiwan Province of'
 'China, mainland' "Democratic People's Republic of Korea" 'India'
 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Japan' 'Kazakhstan'
 'Kyrgyzstan' "Lao People's Democratic Republic" 'Malaysia' 'Myanmar'
 'Nepal' 'Pakistan' 'Philippines' 'Republic of Korea' 'Saudi Arabia'
 'Sri Lanka' 'Syrian Arab Republic' 'Tajikistan' 'Thailand' 'Timor-Leste'
 'Turkiye' 'Turkmenistan' 'Uzbekistan' 'Viet Nam']

In [21]:
unique_year = merged_df['Year'].unique()
print(unique_year)

[1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004
 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018
 2019 2020 2021]

In [22]:
merged_df['Year'] = merged_df['Year'].astype(str)

In [23]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991 entries, 0 to 990
Data columns (total 58 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Country                                          991 non-null    object
 1   Year                                             991 non-null    object
 2   Emissions (CH4)_Agrifood Systems Waste Disposal  991 non-null    float64
 3   Emissions (CO2)_Agrifood Systems Waste Disposal  960 non-null    float64
 4   Emissions (N2O)_Agrifood Systems Waste Disposal  991 non-null    float64
 5   Emissions (CH4)_Burning - Crop residues          991 non-null    float64
 6   Emissions (N2O)_Burning - Crop residues          991 non-null    float64
 7   Emissions (N2O)_Crop Residues                    991 non-null    float64
 8   Emissions (CO2)_Drained organic soils (CO2)      991 non-null    float64
 9   Emissions (N2O)_Drained organic soils (N2O)      991 non-null    float64
 10  Emissions (CH4)_Energy                           991 non-null    float64
 11  Emissions (CO2)_Energy                           991 non-null    float64
 12  Emissions (N2O)_Energy                           991 non-null    float64
 13  Emissions (CH4)_Enteric Fermentation             991 non-null    float64
 14  Emissions (CH4)_Fires in humid tropical forests  991 non-null    float64
 15  Emissions (N2O)_Fires in humid tropical forests  991 non-null    float64
 16  Emissions (CH4)_Fires in organic soils           991 non-null    float64
 17  Emissions (CO2)_Fires in organic soils           991 non-null    float64
 18  Emissions (CH4)_Food Household Consumption       991 non-null    float64
 19  Emissions (CO2)_Food Household Consumption       991 non-null    float64
 20  Emissions (N2O)_Food Household Consumption       991 non-null    float64
 21  Emissions (CH4)_Food Packaging                   898 non-null    float64
 22  Emissions (CO2)_Food Packaging                   898 non-null    float64
 23  Emissions (N2O)_Food Packaging                   898 non-null    float64
 24  Emissions (CH4)_Food Processing                  898 non-null    float64
 25  Emissions (CO2)_Food Processing                  898 non-null    float64
 26  Emissions (N2O)_Food Processing                  898 non-null    float64
 27  Emissions (CH4)_Food Retail                      991 non-null    float64
 28  Emissions (CO2)_Food Retail                      991 non-null    float64
 29  Emissions (N2O)_Food Retail                      991 non-null    float64
 30  Emissions (CH4)_Food Transport                   991 non-null    float64
 31  Emissions (CO2)_Food Transport                   991 non-null    float64
 32  Emissions (N2O)_Food Transport                   991 non-null    float64
 33  Emissions (CH4)_Forest fires                     991 non-null    float64
 34  Emissions (N2O)_Forest fires                     991 non-null    float64
 35  Emissions (CO2)_Forestland                       935 non-null    float64
 36  Emissions (CH4)_IPPU                             714 non-null    float64
 37  Emissions (CO2)_IPPU                             991 non-null    float64
 38  Emissions (N2O)_IPPU                             991 non-null    float64
 39  Emissions (CH4)_Manure Management                991 non-null    float64
 40  Emissions (N2O)_Manure Management                991 non-null    float64
 41  Emissions (N2O)_Manure applied to Soils          991 non-null    float64
 42  Emissions (N2O)_Manure left on Pasture           991 non-null    float64
 43  Emissions (CO2)_Net Forest conversion            935 non-null    float64
 44  Emissions (CH4)_On-farm energy use               980 non-null    float64
 45  Emissions (CO2)_On-farm energy use               980 non-null    float64
 46  Emissions (N2O)_On-farm energy use               980 non-null    float64
 47  Emissions (CH4)_Pesticides Manufacturing         899 non-null    float64
 48  Emissions (CO2)_Pesticides Manufacturing         899 non-null    float64
 49  Emissions (N2O)_Pesticides Manufacturing         899 non-null    float64
 50  Emissions (CH4)_Rice Cultivation                 991 non-null    float64
 51  Emissions (CH4)_Savanna fires                    991 non-null    float64
 52  Emissions (N2O)_Savanna fires                    991 non-null    float64
 53  Emissions (N2O)_Synthetic Fertilizers            937 non-null    float64
 54  Emissions (CH4)_Waste                            991 non-null    float64
 55  Emissions (CO2)_Waste                            672 non-null    float64
 56  Emissions (N2O)_Waste                            991 non-null    float64
 57  Rice Production(Tonne)                           991 non-null    float64
dtypes: float64(56), object(2)
memory usage: 449.2+ KB

In [24]:
df3=pd.read_csv('Annual_Surface_Temperature_Change.csv')

In [25]:
df3.head()

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,CTS Code,CTS Name,CTS Full Descriptor,1961,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,Afghanistan,AF,AFG,Temperature change with respect to a baseline ...,Degree Celsius,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate and Weath...",-0.126,...,0.521,1.204,1.612,1.642,1.624,0.991,0.587,1.475,2.154,1.956
1,2,Africa,NaN,AFRTMP,Temperature change with respect to a baseline ...,Degree Celsius,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate and Weath...",-0.017,...,1.013,1.190,1.392,1.180,1.178,1.297,1.200,1.396,0.996,1.485
2,3,Albania,AL,ALB,Temperature change with respect to a baseline ...,Degree Celsius,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate and Weath...",0.635,...,1.285,1.667,1.558,1.196,2.103,1.751,1.567,1.589,1.585,2.122
3,4,Algeria,DZ,DZA,Temperature change with respect to a baseline ...,Degree Celsius,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate and Weath...",0.155,...,1.713,1.153,1.787,1.533,1.231,1.107,1.905,2.360,1.776,2.274
4,5,American Samoa,AS,ASM,Temperature change with respect to a baseline ...,Degree Celsius,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate and Weath...",0.121,...,0.840,0.679,1.209,1.105,0.859,1.209,1.101,0.938,0.925,0.951

In [26]:
df3.columns

Index(['ObjectId', 'Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'CTS Code',
       'CTS Name', 'CTS Full Descriptor', '1961', '1962', '1963', '1964',
       '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
       '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', '2021', '2022', '2023'],
      dtype='object')

In [27]:
columns = ['Country'] + [str(year) for year in range(1991, 2022)]
filtered_df = df3[columns]

In [28]:
filtered_df.head()

,Country,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,-0.051,-0.212,0.254,0.546,0.457,-0.093,0.460,0.664,1.271,...,0.271,1.345,0.521,1.204,1.612,1.642,1.624,0.991,0.587,1.475
1,Africa,0.375,0.092,0.373,0.393,0.549,0.515,0.581,0.949,0.622,...,0.760,1.021,1.013,1.190,1.392,1.180,1.178,1.297,1.200,1.396
2,Albania,-0.280,0.106,0.113,1.360,-0.137,0.006,0.111,0.821,0.724,...,1.546,1.394,1.285,1.667,1.558,1.196,2.103,1.751,1.567,1.589
3,Algeria,0.102,-0.232,0.645,0.830,0.687,0.923,1.113,1.156,1.502,...,1.166,1.221,1.713,1.153,1.787,1.533,1.231,1.107,1.905,2.360
4,American Samoa,0.677,0.335,-0.092,0.141,0.732,0.787,NaN,NaN,0.240,...,0.720,1.012,0.840,0.679,1.209,1.105,0.859,1.209,1.101,0.938

In [29]:
filtered_df.columns

Index(['Country', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

In [30]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 32 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  236 non-null    object
 1   1991     198 non-null    float64
 2   1992     219 non-null    float64
 3   1993     218 non-null    float64
 4   1994     218 non-null    float64
 5   1995     220 non-null    float64
 6   1996     220 non-null    float64
 7   1997     216 non-null    float64
 8   1998     219 non-null    float64
 9   1999     219 non-null    float64
 10  2000     219 non-null    float64
 11  2001     216 non-null    float64
 12  2002     221 non-null    float64
 13  2003     221 non-null    float64
 14  2004     220 non-null    float64
 15  2005     219 non-null    float64
 16  2006     223 non-null    float64
 17  2007     224 non-null    float64
 18  2008     220 non-null    float64
 19  2009     223 non-null    float64
 20  2010     225 non-null    float64
 21  2011     225 non-null    float64
 22  2012     221 non-null    float64
 23  2013     221 non-null    float64
 24  2014     221 non-null    float64
 25  2015     223 non-null    float64
 26  2016     223 non-null    float64
 27  2017     223 non-null    float64
 28  2018     223 non-null    float64
 29  2019     222 non-null    float64
 30  2020     220 non-null    float64
 31  2021     223 non-null    float64
dtypes: float64(31), object(1)
memory usage: 59.1+ KB

In [31]:
df_melted = filtered_df.melt(id_vars=['Country'], var_name='Year', value_name='Temperature Index')

In [32]:
df_melted.head()

          Country  Year  Temperature Index
0     Afghanistan  1991             -0.051
1          Africa  1991              0.375
2         Albania  1991             -0.280
3         Algeria  1991              0.102
4  American Samoa  1991              0.677

In [33]:
unique_Country = df_melted['Country'].unique()
print(unique_Country)

['Afghanistan' 'Africa' 'Albania' 'Algeria' 'American Samoa' 'Americas'
 'Andorra, Principality of' 'Angola' 'Anguilla' 'Antarctica'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Asia' 'Australia'
 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados'
 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Cameroon' 'Canada' 'Cayman Islands' 'Central African Rep.'
 'Chad' 'Chile' 'Hong Kong' 'Macao' 'China' 'Colombia' 'Comoros'
 'Congo, Dem' 'Congo, Rep' 'Cook Islands' 'Costa Rica' "C?te d'Ivoire"
 'Croatia' 'Cuba' 'Cyprus' 'Czech Rep.' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Rep' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Europe'
 'Falkland Islands (Malvinas)' 'Faroe Islands' 'Fiji' 'Finland' 'France'
 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana'
 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe' 'Guatemala'
 'Guiana' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Holy See' 'Honduras'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland'
 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' "Democratic People's Republic of Korea"
 'Republic of Korea' 'Kuwait' 'Kyrgyzstan' "Lao People's Democratic Rep."
 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein'
 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives'
 'Mali' 'Malta' 'Marshall Islands, Rep. of the' 'Martinique' 'Mauritania'
 'Mauritius' 'Mayotte' 'Mexico' 'Micronesia' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia'
 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'Niue' 'Norfolk Island' 'North Macedonia' 'Norway'
 'Oceania' 'Oman' 'Pakistan' 'Palau' 'Panama' 'Papua New Guinea'
 'Paraguay' 'Peru' 'Philippines' 'Pitcairn Islands' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Reunion' 'Romania' 'Russian Federation' 'Rwanda'
 'Saint Helena' 'Saint Pierre and Miquelon' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovak Rep' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Sudan' 'Spain' 'Sri Lanka'
 'St. Kitts and Nevis' 'St. Lucia' 'St. Vincent and the Grenadines'
 'Sudan' 'Suriname' 'Svalbard Jan Mayen Islands' 'Sweden' 'Switzerland'
 'Syrian Arab Rep' 'Taiwan Province of China' 'Tajikistan' 'Tanzania'
 'Thailand' 'Timor-Leste' 'Togo' 'Tokelau' 'Tonga' 'Trinidad and Tobago'
 'Tunisia' 'Turkiye' 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu'
 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States' 'United States Virgin Islands' 'Uruguay' 'Uzbekistan'
 'Vanuatu' 'Venezuela' 'Vietnam' 'Wallis and Futuna Islands'
 'West Bank and Gaza' 'Western Sahara' 'World' 'Yemen' 'Zambia' 'Zimbabwe']

In [34]:
df_melted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7316 entries, 0 to 7315
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            7316 non-null   object
 1   Year               7316 non-null   object
 2   Temperature Index  6823 non-null   float64
dtypes: float64(1), object(2)
memory usage: 171.6+ KB

In [35]:
from fuzzywuzzy import process

countries_merged_df = merged_df['Country'].unique()
countries_df_melted = df_melted['Country'].unique()

def map_country(country, country_list, threshold=90):
    match, score = process.extractOne(country, country_list)
    return match if score >= threshold else country

merged_df['Country'] = merged_df['Country'].apply(map_country, args=(countries_df_melted,))
print("Unique Country names after fuzzy matching in merged_df:")
print(merged_df['Country'].unique())
result_df = pd.merge(merged_df, df_melted, on=['Country', 'Year'], how='inner')
print("\nMerged DataFrame:")
result_df.columns

c:\Users\Asus\AppData\Local\Programs\Python\Python310\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

Unique Country names after fuzzy matching in merged_df:
['Afghanistan' 'Azerbaijan' 'Bangladesh' 'Bhutan' 'Brunei Darussalam'
 'Cambodia' 'Hong Kong' 'Taiwan Province of China' 'China'
 "Democratic People's Republic of Korea" 'India' 'Indonesia' 'Iran' 'Iraq'
 'Japan' 'Kazakhstan' 'Kyrgyzstan' "Lao People's Democratic Rep."
 'Malaysia' 'Myanmar' 'Nepal' 'Pakistan' 'Philippines' 'Republic of Korea'
 'Saudi Arabia' 'Sri Lanka' 'Syrian Arab Republic' 'Tajikistan' 'Thailand'
 'Timor-Leste' 'Turkiye' 'Turkmenistan' 'Uzbekistan' 'Vietnam']

Merged DataFrame:

Index(['Country', 'Year', 'Emissions (CH4)_Agrifood Systems Waste Disposal',
       'Emissions (CO2)_Agrifood Systems Waste Disposal',
       'Emissions (N2O)_Agrifood Systems Waste Disposal',
       'Emissions (CH4)_Burning - Crop residues',
       'Emissions (N2O)_Burning - Crop residues',
       'Emissions (N2O)_Crop Residues',
       'Emissions (CO2)_Drained organic soils (CO2)',
       'Emissions (N2O)_Drained organic soils (N2O)', 'Emissions (CH4)_Energy',
       'Emissions (CO2)_Energy', 'Emissions (N2O)_Energy',
       'Emissions (CH4)_Enteric Fermentation',
       'Emissions (CH4)_Fires in humid tropical forests',
       'Emissions (N2O)_Fires in humid tropical forests',
       'Emissions (CH4)_Fires in organic soils',
       'Emissions (CO2)_Fires in organic soils',
       'Emissions (CH4)_Food Household Consumption',
       'Emissions (CO2)_Food Household Consumption',
       'Emissions (N2O)_Food Household Consumption',
       'Emissions (CH4)_Food Packaging', 'Emissions (CO2)_Food Packaging',
       'Emissions (N2O)_Food Packaging', 'Emissions (CH4)_Food Processing',
       'Emissions (CO2)_Food Processing', 'Emissions (N2O)_Food Processing',
       'Emissions (CH4)_Food Retail', 'Emissions (CO2)_Food Retail',
       'Emissions (N2O)_Food Retail', 'Emissions (CH4)_Food Transport',
       'Emissions (CO2)_Food Transport', 'Emissions (N2O)_Food Transport',
       'Emissions (CH4)_Forest fires', 'Emissions (N2O)_Forest fires',
       'Emissions (CO2)_Forestland', 'Emissions (CH4)_IPPU',
       'Emissions (CO2)_IPPU', 'Emissions (N2O)_IPPU',
       'Emissions (CH4)_Manure Management',
       'Emissions (N2O)_Manure Management',
       'Emissions (N2O)_Manure applied to Soils',
       'Emissions (N2O)_Manure left on Pasture',
       'Emissions (CO2)_Net Forest conversion',
       'Emissions (CH4)_On-farm energy use',
       'Emissions (CO2)_On-farm energy use',
       'Emissions (N2O)_On-farm energy use',
       'Emissions (CH4)_Pesticides Manufacturing',
       'Emissions (CO2)_Pesticides Manufacturing',
       'Emissions (N2O)_Pesticides Manufacturing',
       'Emissions (CH4)_Rice Cultivation', 'Emissions (CH4)_Savanna fires',
       'Emissions (N2O)_Savanna fires',
       'Emissions (N2O)_Synthetic Fertilizers', 'Emissions (CH4)_Waste',
       'Emissions (CO2)_Waste', 'Emissions (N2O)_Waste',
       'Rice Production(Tonne)', 'Temperature Index'],
      dtype='object')

In [36]:
unique_Country = result_df['Country'].unique()
print(unique_Country)

['Afghanistan' 'Azerbaijan' 'Bangladesh' 'Bhutan' 'Brunei Darussalam'
 'Cambodia' 'Hong Kong' 'Taiwan Province of China' 'China'
 "Democratic People's Republic of Korea" 'India' 'Indonesia' 'Iran' 'Iraq'
 'Japan' 'Kazakhstan' 'Kyrgyzstan' "Lao People's Democratic Rep."
 'Malaysia' 'Myanmar' 'Nepal' 'Pakistan' 'Philippines' 'Republic of Korea'
 'Saudi Arabia' 'Sri Lanka' 'Tajikistan' 'Thailand' 'Timor-Leste'
 'Turkiye' 'Turkmenistan' 'Uzbekistan' 'Vietnam']

In [37]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 985 entries, 0 to 984
Data columns (total 59 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Country                                          985 non-null    object
 1   Year                                             985 non-null    object
 2   Emissions (CH4)_Agrifood Systems Waste Disposal  985 non-null    float64
 3   Emissions (CO2)_Agrifood Systems Waste Disposal  954 non-null    float64
 4   Emissions (N2O)_Agrifood Systems Waste Disposal  985 non-null    float64
 5   Emissions (CH4)_Burning - Crop residues          985 non-null    float64
 6   Emissions (N2O)_Burning - Crop residues          985 non-null    float64
 7   Emissions (N2O)_Crop Residues                    985 non-null    float64
 8   Emissions (CO2)_Drained organic soils (CO2)      985 non-null    float64
 9   Emissions (N2O)_Drained organic soils (N2O)      985 non-null    float64
 10  Emissions (CH4)_Energy                           985 non-null    float64
 11  Emissions (CO2)_Energy                           985 non-null    float64
 12  Emissions (N2O)_Energy                           985 non-null    float64
 13  Emissions (CH4)_Enteric Fermentation             985 non-null    float64
 14  Emissions (CH4)_Fires in humid tropical forests  985 non-null    float64
 15  Emissions (N2O)_Fires in humid tropical forests  985 non-null    float64
 16  Emissions (CH4)_Fires in organic soils           985 non-null    float64
 17  Emissions (CO2)_Fires in organic soils           985 non-null    float64
 18  Emissions (CH4)_Food Household Consumption       985 non-null    float64
 19  Emissions (CO2)_Food Household Consumption       985 non-null    float64
 20  Emissions (N2O)_Food Household Consumption       985 non-null    float64
 21  Emissions (CH4)_Food Packaging                   892 non-null    float64
 22  Emissions (CO2)_Food Packaging                   892 non-null    float64
 23  Emissions (N2O)_Food Packaging                   892 non-null    float64
 24  Emissions (CH4)_Food Processing                  892 non-null    float64
 25  Emissions (CO2)_Food Processing                  892 non-null    float64
 26  Emissions (N2O)_Food Processing                  892 non-null    float64
 27  Emissions (CH4)_Food Retail                      985 non-null    float64
 28  Emissions (CO2)_Food Retail                      985 non-null    float64
 29  Emissions (N2O)_Food Retail                      985 non-null    float64
 30  Emissions (CH4)_Food Transport                   985 non-null    float64
 31  Emissions (CO2)_Food Transport                   985 non-null    float64
 32  Emissions (N2O)_Food Transport                   985 non-null    float64
 33  Emissions (CH4)_Forest fires                     985 non-null    float64
 34  Emissions (N2O)_Forest fires                     985 non-null    float64
 35  Emissions (CO2)_Forestland                       929 non-null    float64
 36  Emissions (CH4)_IPPU                             714 non-null    float64
 37  Emissions (CO2)_IPPU                             985 non-null    float64
 38  Emissions (N2O)_IPPU                             985 non-null    float64
 39  Emissions (CH4)_Manure Management                985 non-null    float64
 40  Emissions (N2O)_Manure Management                985 non-null    float64
 41  Emissions (N2O)_Manure applied to Soils          985 non-null    float64
 42  Emissions (N2O)_Manure left on Pasture           985 non-null    float64
 43  Emissions (CO2)_Net Forest conversion            929 non-null    float64
 44  Emissions (CH4)_On-farm energy use               974 non-null    float64
 45  Emissions (CO2)_On-farm energy use               974 non-null    float64
 46  Emissions (N2O)_On-farm energy use               974 non-null    float64
 47  Emissions (CH4)_Pesticides Manufacturing         893 non-null    float64
 48  Emissions (CO2)_Pesticides Manufacturing         893 non-null    float64
 49  Emissions (N2O)_Pesticides Manufacturing         893 non-null    float64
 50  Emissions (CH4)_Rice Cultivation                 985 non-null    float64
 51  Emissions (CH4)_Savanna fires                    985 non-null    float64
 52  Emissions (N2O)_Savanna fires                    985 non-null    float64
 53  Emissions (N2O)_Synthetic Fertilizers            931 non-null    float64
 54  Emissions (CH4)_Waste                            985 non-null    float64
 55  Emissions (CO2)_Waste                            672 non-null    float64
 56  Emissions (N2O)_Waste                            985 non-null    float64
 57  Rice Production(Tonne)                           985 non-null    float64
 58  Temperature Index                                978 non-null    float64
dtypes: float64(57), object(2)
memory usage: 454.1+ KB

In [38]:
result_df.head(15)

,Country,Year,Emissions (CH4)_Agrifood Systems Waste Disposal,Emissions (CO2)_Agrifood Systems Waste Disposal,Emissions (N2O)_Agrifood Systems Waste Disposal,Emissions (CH4)_Burning - Crop residues,Emissions (N2O)_Burning - Crop residues,Emissions (N2O)_Crop Residues,Emissions (CO2)_Drained organic soils (CO2),Emissions (N2O)_Drained organic soils (N2O),...,Emissions (N2O)_Pesticides Manufacturing,Emissions (CH4)_Rice Cultivation,Emissions (CH4)_Savanna fires,Emissions (N2O)_Savanna fires,Emissions (N2O)_Synthetic Fertilizers,Emissions (CH4)_Waste,Emissions (CO2)_Waste,Emissions (N2O)_Waste,Rice Production(Tonne),Temperature Index
0,Afghanistan,1991,28.7648,0.0000,0.3599,2.7606,0.0716,0.7906,0.0,0.0,...,NaN,24.22,0.2639,0.0241,0.8912,62.7,3.15,0.368,335000.0,-0.051
1,Afghanistan,1992,29.9255,0.0000,0.3595,2.5314,0.0656,0.7416,0.0,0.0,...,NaN,24.50,0.2639,0.0241,0.8100,67.4,3.28,0.383,300000.0,-0.212
2,Afghanistan,1993,31.3371,0.0000,0.3956,3.0714,0.0796,0.8710,0.0,0.0,...,NaN,24.50,0.2639,0.0241,0.8329,72.6,3.42,0.412,300000.0,0.254
3,Afghanistan,1994,32.7076,0.0000,0.4090,3.2408,0.0840,0.9134,0.0,0.0,...,NaN,25.20,0.2639,0.0241,NaN,77.8,3.56,0.433,342000.0,0.546
4,Afghanistan,1995,33.8030,0.0000,0.4172,3.2016,0.0830,0.9201,0.0,0.0,...,NaN,23.80,0.2639,0.0241,NaN,82.2,3.70,0.466,390000.0,0.457
5,Afghanistan,1996,34.8632,0.0000,0.4444,3.0714,0.0796,0.9398,0.0,0.0,...,NaN,24.50,0.7459,0.0681,0.1041,85.7,3.79,0.496,340000.0,-0.093
6,Afghanistan,1997,35.3527,0.0000,0.4715,3.1047,0.0805,1.0426,0.0,0.0,...,NaN,25.20,0.5927,0.0541,0.1041,88.4,3.89,0.519,400000.0,0.460
7,Afghanistan,1998,35.7056,0.0000,0.4862,3.1717,0.0822,1.0847,0.0,0.0,...,NaN,25.20,1.2289,0.1122,0.1249,90.9,3.98,0.514,450000.0,0.664
8,Afghanistan,1999,36.0252,0.0000,0.4833,2.8326,0.0734,0.9340,0.0,0.0,...,NaN,19.60,0.8845,0.0808,0.1041,93.6,3.91,0.509,280000.0,1.271
9,Afghanistan,2000,36.4322,0.0000,0.4685,2.6471,0.0686,0.6370,0.0,0.0,...,NaN,18.20,0.4365,0.0398,0.1041,96.9,4.19,0.521,260000.0,1.064
10,Afghanistan,2001,37.1432,0.0000,0.4609,2.3205,0.0602,0.6452,0.0,0.0,...,NaN,16.94,0.0093,0.0009,0.3831,101.0,4.26,0.544,242000.0,1.377
11,Afghanistan,2002,44.2815,34.4786,0.5068,2.3553,0.0611,1.0045,0.0,0.0,...,NaN,18.90,0.2306,0.0211,0.5106,106.0,4.33,0.570,388000.0,1.457
12,Afghanistan,2003,50.6760,34.6461,0.5357,3.4017,0.0882,1.2235,0.0,0.0,...,NaN,20.30,0.8799,0.0803,0.4249,112.0,4.40,0.607,434000.0,0.710
13,Afghanistan,2004,51.4813,34.8741,0.4749,3.0089,0.0780,1.0075,0.0,0.0,...,NaN,27.30,0.2061,0.0188,0.4651,117.0,4.56,0.658,463000.0,1.482
14,Afghanistan,2005,57.2164,35.1425,0.4773,3.4752,0.0901,1.4481,0.0,0.0,...,NaN,22.40,0.0974,0.0089,0.4261,122.0,4.63,0.684,485000.0,0.513

In [39]:
columns_to_impute = result_df.columns[2:]

def impute_missing_values(df):
    for country in df['Country'].unique():
        country_df = df[df['Country'] == country]
        for col in columns_to_impute:
            for i in country_df.index:
                if pd.isna(df.at[i, col]):
                    current_year = df.at[i, 'Year']
                    if current_year == 2021:
                        prev_five_years = country_df.loc[country_df['Year'] < current_year, col].tail(5)
                        if prev_five_years.isna().all():
                            df.at[i, col] = 0
                        else:
                            df.at[i, col] = prev_five_years.mean()
                    else:
                        next_five_years = country_df.loc[country_df['Year'] > current_year, col].head(5)
                        if next_five_years.isna().all():
                            df.at[i, col] = 0
                        else:
                            df.at[i, col] = next_five_years.mean()

impute_missing_values(result_df)

In [40]:
result_df['Surface Temperature'] = result_df['Temperature Index'].apply(
    lambda x: 'increase' if x > 0 else ('decrease' if x < 0 else 'unchange')
)

In [41]:
result_df.head(15)

,Country,Year,Emissions (CH4)_Agrifood Systems Waste Disposal,Emissions (CO2)_Agrifood Systems Waste Disposal,Emissions (N2O)_Agrifood Systems Waste Disposal,Emissions (CH4)_Burning - Crop residues,Emissions (N2O)_Burning - Crop residues,Emissions (N2O)_Crop Residues,Emissions (CO2)_Drained organic soils (CO2),Emissions (N2O)_Drained organic soils (N2O),...,Emissions (CH4)_Rice Cultivation,Emissions (CH4)_Savanna fires,Emissions (N2O)_Savanna fires,Emissions (N2O)_Synthetic Fertilizers,Emissions (CH4)_Waste,Emissions (CO2)_Waste,Emissions (N2O)_Waste,Rice Production(Tonne),Temperature Index,Surface Temperature
0,Afghanistan,1991,28.7648,0.0000,0.3599,2.7606,0.0716,0.7906,0.0,0.0,...,24.22,0.2639,0.0241,0.89120,62.7,3.15,0.368,335000.0,-0.051,decrease
1,Afghanistan,1992,29.9255,0.0000,0.3595,2.5314,0.0656,0.7416,0.0,0.0,...,24.50,0.2639,0.0241,0.81000,67.4,3.28,0.383,300000.0,-0.212,decrease
2,Afghanistan,1993,31.3371,0.0000,0.3956,3.0714,0.0796,0.8710,0.0,0.0,...,24.50,0.2639,0.0241,0.83290,72.6,3.42,0.412,300000.0,0.254,increase
3,Afghanistan,1994,32.7076,0.0000,0.4090,3.2408,0.0840,0.9134,0.0,0.0,...,25.20,0.2639,0.0241,0.10930,77.8,3.56,0.433,342000.0,0.546,increase
4,Afghanistan,1995,33.8030,0.0000,0.4172,3.2016,0.0830,0.9201,0.0,0.0,...,23.80,0.2639,0.0241,0.10826,82.2,3.70,0.466,390000.0,0.457,increase
5,Afghanistan,1996,34.8632,0.0000,0.4444,3.0714,0.0796,0.9398,0.0,0.0,...,24.50,0.7459,0.0681,0.10410,85.7,3.79,0.496,340000.0,-0.093,decrease
6,Afghanistan,1997,35.3527,0.0000,0.4715,3.1047,0.0805,1.0426,0.0,0.0,...,25.20,0.5927,0.0541,0.10410,88.4,3.89,0.519,400000.0,0.460,increase
7,Afghanistan,1998,35.7056,0.0000,0.4862,3.1717,0.0822,1.0847,0.0,0.0,...,25.20,1.2289,0.1122,0.12490,90.9,3.98,0.514,450000.0,0.664,increase
8,Afghanistan,1999,36.0252,0.0000,0.4833,2.8326,0.0734,0.9340,0.0,0.0,...,19.60,0.8845,0.0808,0.10410,93.6,3.91,0.509,280000.0,1.271,increase
9,Afghanistan,2000,36.4322,0.0000,0.4685,2.6471,0.0686,0.6370,0.0,0.0,...,18.20,0.4365,0.0398,0.10410,96.9,4.19,0.521,260000.0,1.064,increase
10,Afghanistan,2001,37.1432,0.0000,0.4609,2.3205,0.0602,0.6452,0.0,0.0,...,16.94,0.0093,0.0009,0.38310,101.0,4.26,0.544,242000.0,1.377,increase
11,Afghanistan,2002,44.2815,34.4786,0.5068,2.3553,0.0611,1.0045,0.0,0.0,...,18.90,0.2306,0.0211,0.51060,106.0,4.33,0.570,388000.0,1.457,increase
12,Afghanistan,2003,50.6760,34.6461,0.5357,3.4017,0.0882,1.2235,0.0,0.0,...,20.30,0.8799,0.0803,0.42490,112.0,4.40,0.607,434000.0,0.710,increase
13,Afghanistan,2004,51.4813,34.8741,0.4749,3.0089,0.0780,1.0075,0.0,0.0,...,27.30,0.2061,0.0188,0.46510,117.0,4.56,0.658,463000.0,1.482,increase
14,Afghanistan,2005,57.2164,35.1425,0.4773,3.4752,0.0901,1.4481,0.0,0.0,...,22.40,0.0974,0.0089,0.42610,122.0,4.63,0.684,485000.0,0.513,increase

In [42]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 985 entries, 0 to 984
Data columns (total 60 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Country                                          985 non-null    object
 1   Year                                             985 non-null    object
 2   Emissions (CH4)_Agrifood Systems Waste Disposal  985 non-null    float64
 3   Emissions (CO2)_Agrifood Systems Waste Disposal  985 non-null    float64
 4   Emissions (N2O)_Agrifood Systems Waste Disposal  985 non-null    float64
 5   Emissions (CH4)_Burning - Crop residues          985 non-null    float64
 6   Emissions (N2O)_Burning - Crop residues          985 non-null    float64
 7   Emissions (N2O)_Crop Residues                    985 non-null    float64
 8   Emissions (CO2)_Drained organic soils (CO2)      985 non-null    float64
 9   Emissions (N2O)_Drained organic soils (N2O)      985 non-null    float64
 10  Emissions (CH4)_Energy                           985 non-null    float64
 11  Emissions (CO2)_Energy                           985 non-null    float64
 12  Emissions (N2O)_Energy                           985 non-null    float64
 13  Emissions (CH4)_Enteric Fermentation             985 non-null    float64
 14  Emissions (CH4)_Fires in humid tropical forests  985 non-null    float64
 15  Emissions (N2O)_Fires in humid tropical forests  985 non-null    float64
 16  Emissions (CH4)_Fires in organic soils           985 non-null    float64
 17  Emissions (CO2)_Fires in organic soils           985 non-null    float64
 18  Emissions (CH4)_Food Household Consumption       985 non-null    float64
 19  Emissions (CO2)_Food Household Consumption       985 non-null    float64
 20  Emissions (N2O)_Food Household Consumption       985 non-null    float64
 21  Emissions (CH4)_Food Packaging                   985 non-null    float64
 22  Emissions (CO2)_Food Packaging                   985 non-null    float64
 23  Emissions (N2O)_Food Packaging                   985 non-null    float64
 24  Emissions (CH4)_Food Processing                  985 non-null    float64
 25  Emissions (CO2)_Food Processing                  985 non-null    float64
 26  Emissions (N2O)_Food Processing                  985 non-null    float64
 27  Emissions (CH4)_Food Retail                      985 non-null    float64
 28  Emissions (CO2)_Food Retail                      985 non-null    float64
 29  Emissions (N2O)_Food Retail                      985 non-null    float64
 30  Emissions (CH4)_Food Transport                   985 non-null    float64
 31  Emissions (CO2)_Food Transport                   985 non-null    float64
 32  Emissions (N2O)_Food Transport                   985 non-null    float64
 33  Emissions (CH4)_Forest fires                     985 non-null    float64
 34  Emissions (N2O)_Forest fires                     985 non-null    float64
 35  Emissions (CO2)_Forestland                       985 non-null    float64
 36  Emissions (CH4)_IPPU                             985 non-null    float64
 37  Emissions (CO2)_IPPU                             985 non-null    float64
 38  Emissions (N2O)_IPPU                             985 non-null    float64
 39  Emissions (CH4)_Manure Management                985 non-null    float64
 40  Emissions (N2O)_Manure Management                985 non-null    float64
 41  Emissions (N2O)_Manure applied to Soils          985 non-null    float64
 42  Emissions (N2O)_Manure left on Pasture           985 non-null    float64
 43  Emissions (CO2)_Net Forest conversion            985 non-null    float64
 44  Emissions (CH4)_On-farm energy use               985 non-null    float64
 45  Emissions (CO2)_On-farm energy use               985 non-null    float64
 46  Emissions (N2O)_On-farm energy use               985 non-null    float64
 47  Emissions (CH4)_Pesticides Manufacturing         985 non-null    float64
 48  Emissions (CO2)_Pesticides Manufacturing         985 non-null    float64
 49  Emissions (N2O)_Pesticides Manufacturing         985 non-null    float64
 50  Emissions (CH4)_Rice Cultivation                 985 non-null    float64
 51  Emissions (CH4)_Savanna fires                    985 non-null    float64
 52  Emissions (N2O)_Savanna fires                    985 non-null    float64
 53  Emissions (N2O)_Synthetic Fertilizers            985 non-null    float64
 54  Emissions (CH4)_Waste                            985 non-null    float64
 55  Emissions (CO2)_Waste                            985 non-null    float64
 56  Emissions (N2O)_Waste                            985 non-null    float64
 57  Rice Production(Tonne)                           985 non-null    float64
 58  Temperature Index                                985 non-null    float64
 59  Surface Temperature                              985 non-null    object
dtypes: float64(57), object(3)
memory usage: 461.8+ KB

In [43]:
result_df.to_csv('cleaned_agrifood_data.csv', index=False)